/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 220px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color, #fff);
  color: var(--color, #000);
  font-family: var(--ordinary-font), sans-serif;
  font-style: normal;
  font-size: 18px;
  font-variation-settings: 'wght' var(--ordinary-paragraph-font-weight, 400);
  background-image:
    repeating-linear-gradient(var(--background-gradient-line-color, #d3d3d3) 0 2px, transparent 2px 4px),
    repeating-linear-gradient(90deg, var(--background-gradient-line-color, #d3d3d3) 0 2px, transparent 2px 4px),
    linear-gradient(var(--background-gradient-start-color, #e7e7e7) 0 var(--background-gradient-start-padding, 0),
      var(--background-gradient-start-color, #e7e7e7) var(--background-gradient-start-padding, 0),
      var(--background-gradient-end-color, #1a1a1a));
  background-size: 100dvi 100dvb;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.regular-inline-size {
  inline-size: clamp(375px, 16.2852rem + 30.5164vw, 700px);
}

.uppercase {
  text-transform: uppercase;
}

.header {
  margin-block-start: 100px;
  padding-block: clamp(120px, 7.1479rem + 1.5023vw, 136px) 25px;
  text-align: center;
  border: 2px solid var(--color, #000);
  background: var(--background-color, #fff);
  font-family: var(--accent-font), sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__heading {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__tagline {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  padding-block-start: 20px;
}

.header__theme-menu {
  padding-block-start: 25px;
  display: flex;
  justify-content: center;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 14px;
  font-size: 0;
  padding-inline-start: 16px;
}

.theme-menu__button {
  position: relative;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.6;
  }

  &:focus-visible {
    opacity: 0.6;
  }

  &::after {
    content: '';
    position: absolute;
    inset-inline-start: 0;
    inset-block-end: -3px;
    background-color: currentColor;
    inline-size: 100%;
    block-size: 2px;
    transform: scale(0);
    transform-origin: left;
    transition: transform .3s ease;
  }

  &:focus-visible::after {
    transform: scale(1);
  }

  &::before {
    content: '▶';
    position: absolute;
    transition: color .3s ease;
    color: transparent;
    inset-inline-start: -18px;
    animation: arrow 0.5s ease-in-out alternate infinite;
  }

  &:disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  &:disabled::before {
    color: currentColor;
  }
}

.main {
  margin-block-start: 100px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.galeri {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.card {
  background-color: var(--background-color, #fff);
  border: 2px solid var(--color, #000);
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  padding-block-end: 25px;
  inline-size: 100%
}

.card__heading-box {
  display: flex;
  flex-direction: column;
}

.card__heading {
  padding: 6px 10px;
  font-size: inherit;
  font-variation-settings: 'wght' var(--ordinary-heading-font-weight, 700);
  line-height: normal;
}

.card__img-box {
  position: relative;
  display: flex;
}

.card__img {
  inline-size: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  outline: 2px solid currentColor;
  background-image: linear-gradient(135deg, #fff,
      #d1dc9d,
      #f09d0c,
      #900020,
      #0b2337,
      #126ddc,
      #76c2e0);
  display: flex;
}

.label {
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow:
    -1px 0 var(--background-color, #fff),
    0 1px var(--background-color, #fff),
    1px 0 var(--background-color, #fff),
    0 -1px var(--background-color, #fff);
}

@supports((text-stroke: 1px var(--background-color, #fff)) or (-webkit-text-stroke: 1px var(--background-color, #fff))) {
  .label {
    -webkit-text-stroke: 1px var(--background-color, #fff);
    text-stroke: 1px var(--background-color, #fff);
    text-shadow: none;
  }
}

.card__text-box {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
  padding-inline: 25px;
  line-height: 1.17;
}

.card__button-box {
  padding-inline: 25px;
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 6px;
}

.card__icon-button {
  block-size: 38px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  transition: outline-color 0.3s ease;
  cursor: auto;

  &:focus-visible {
    outline-color: var(--color);
  }
}

.heart {
  inline-size: 39px;
  block-size: 36px;
}

.heart__box {
  cursor: pointer;
  transform-origin: center;
}

.heart__contour {
  fill: var(--color);
  transition: fill .1s linear;
}

.heart__main-body {
  fill: transparent;
  transition: fill .3s linear;
}

.heart__core {
  fill: transparent;
  transition: fill .3s linear .03s;
}

.heart__sparks {
  fill: var(--is-liked-color);
  opacity: 0;
}

.like-icon:not(.is-liked) .heart__box:hover {
  & .heart__core {
    fill: var(--color);
    transition: fill .3s linear;
  }

  & .heart__main-body {
    fill: var(--color);
    transition: fill .3s linear .05s;
  }
}

.like-icon:not(.is-liked) .heart__box:active {
  & .heart__core {
    fill: var(--is-liked-color);
    transition: fill .3s linear;
  }

  & .heart__main-body {
    fill: var(--is-liked-color);
    transition: fill .3s linear .05s;
  }
}

.like-icon.is-liked {
  & .heart__core {
    fill: var(--is-liked-color);
    transition: fill .3s linear;
  }

  & .heart__main-body {
    fill: var(--is-liked-color);
    transition: fill .3s linear .05s;
  }

  & .heart__contour {
    fill: var(--is-liked-color);
    transition: fill .3s linear .06s;
  }

  & .heart__box {
    animation: liked-heart .3s ease-in .1s alternate;
  }

  & .heart__sparks {
    animation: liked-sparks .3s ease-in .3s alternate;
  }
}

.card__like-button {
  min-inline-size: 130px;
  max-inline-size: 200px;
  padding-inline: 17px;
  block-size: 38px;
}

.footer {
  margin-block: 50px clamp(102px, 6.309rem + 0.2817vw, 105px);
  display: flex;
}

.footer__button {
  flex-wrap: wrap;
  inline-size: clamp(306px, 18.4868rem + 2.723vw, 335px);
  min-block-size: 51px;
  max-block-size: 80px;
  padding: 15px 5px;
  gap: 8px;
}

.footer__button-svg {
  max-inline-size: 28px;
  min-inline-size: 21px;
  inline-size: calc(-0.66dvi + 30.46px);
  position: relative;
  mix-blend-mode: difference;
  color: var(--mix-blend-color);
}


/* изменение яркости */
.filter_brightness {
  filter: brightness(200%);
}

.filter_contrast {
  filter: contrast(120%);
} 

.filter_blur {
  filter: blur(1px);
} 

.filter_opacity {
  filter: opacity(0.7);
} 

/* чёрно белый мир */
.filter_grayscale {
  filter: grayscale(0.8);
} 

/* насыщенность */
.filter_saturate {
  filter: saturate(158%);
} 

.filter_hue-rotate {
  filter: hue-rotate(-90deg);
} 

/* ретро эфект */
.filter_sepia {
  filter: sepia(70%);
} 

.filter_invert {
  filter: invert(0.9);
} 

.filter_brightness_hue-rotate {
  filter: brightness(200%) hue-rotate(-90deg);
}

.filter_invert_saturate {
  filter: invert(0.9) saturate(158%);
} 

.filter_grayscale_contrast {
  filter: grayscale(0.8) contrast(140%);
} 

.popup {
  border: 2px solid var(--color);
  inline-size: clamp(341px, 20.9604rem + 1.5023vw, 357px);
  padding: 30px;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;

  &::backdrop {
    background-color: rgb(0 0 0 / 0.7);
    backdrop-filter: blur(15px);
  }
}

.popup__wrap {
  display: flex;
  column-gap: 20px;
  margin-block-end: 30px;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.popup__icon {
  min-inline-size: 39px;
}

.popup__button {
  inline-size: 100%;
  block-size: 38px;
}

.regular-button__text {
  position: relative;
  mix-blend-mode: difference;
  color: var(--mix-blend-color);
  line-height: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.regular-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid var(--color);


  &:focus-visible {
    box-shadow: 2px 2px 0 0 var(--color);
  }

  &::before {
    content: '';
    inline-size: 100%;
    block-size: 100%;
    background-color: var(--color);
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: left;
  }

  &:hover::before {
    transform: scaleX(1);
  }
}

@media (width<1440px) {
  .popup {
    padding-inline: calc(-0.94dvi + 43.52px);
  }
}

@media (width<375px) {
  .regular-inline-size {
    inline-size: 100%;
  }

  .header__heading {
    font-size: clamp(1.75rem, -0.1129rem + 13.5484vw, 3.0625rem);
  }

  .footer__button {
    max-inline-size: 306px;
    inline-size: 100%;
  }

  .footer__button-text {
    max-inline-size: calc(100dvi - 80px);
  }

  .popup {
    padding-inline: 40px;
  }
}